/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, i, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}    











.container {
    display: grid;
    grid-template-columns: 196px 1fr;
    vertical-align: top;
    max-width: 1000px;
    font-size: 0;
    line-height: 1.8;
    font-family: 'Spoqa Han Sans';
}

.item-nav, .item-content {
    font-size: 0.9rem;
    padding-top: 20px;
    padding-left: 20px;
}

.item-nav {
    list-style: none; /* ol, ul 옆에 점이나 숫자를 안 보이게 해주는 속성 */
    text-decoration: underline;
}

.menu a{
    cursor:pointer;
    text-decoration: none;
    /*    .item item-nav에 직접 style="text-decoration: none;"을 주니 이제야 링크 밑줄이 사라짐*/
    color:#000;
}

/*
.menu .sub-menu {
    display:none;
}
*/

ul li {
/*    list-style-type: none; */
    list-style: none; 
    /* ol, ul 옆에 점이나 숫자들을 안 보이게 해주는 속성
    a 태그에 색상이나 밑줄 등등을 넣어주려고 해도 되지 않다가
    이 스타일을 a태그 위로 올리니까 색상과 밑줄이 적용이 되는 현상은?
    캐스캐이딩이 이럴때 필요한 건가? */  
}

.container .item-nav nav ul li.menu ul.sub-menu li a {
    color: #a7a9ac;
}

.container .item-nav nav ul li.menu ul.sub-menu li a:hover {
    color: #000;
    border-bottom:0px;
/*서브 메뉴 색은 어찌 바꾸나?
.menu .sub-menu css부분을 주석처리하니까 서브메뉴 색 바꾸는 css가 적용되네?*/
}

a {
    text-decoration: none;
    color:#0066ff;
}

a:hover {
    border-bottom: 1px solid #000;
}


.item-content {
    padding-left: 50px;
}

p {
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.2rem;
    border-bottom: 1px solid #000;
    padding-top: 60px;
}

b {
    font-weight: bold;
}

.toggle_button {
    cursor:pointer;
    display:block;
}

#toggle_button, #toggle_contents {
    height:0;
    overflow:hidden;
    position:absolute;
}

#toggle_button:checked + #toggle_contents {
    height:auto;
    position:relative;
/*    border:1px solid #ccc;*/
    border-top:0;
    padding:10px;
}

.close_button {
    cursor:pointer;
    position:relative;
    top:5px;
    right:5px;
    padding:3px;
    font-size:10px;
    line-height:1;
    background:#dc143c;
    color:#fff;
}

@import url(//spoqa.jithub.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

/*
    ul ul {display: none;}
    ul li:hover > ul {display: block;}
    마우스를 대면 하위 메뉴가 펼쳐지는 css
*/

/*

.main-body .left-body nav ul li.menu-item-has-children ul{
  display:none;
}
.main-body .left-body nav ul li.menu-item-has-children ul li a{
  color:#a7a9ac;
}
.main-body .left-body nav ul li.menu-item-has-children ul li a:hover{
  color:#000; border-bottom:0px;
}
    
*/
